{% extends "base.html" %}

{% block content %}
    <div class="container">
    <form method="POST" class="form">
        <h2 class="text-center mb-4">登入</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="form-group">
        <label for="username" class="form-label">帳號</label>
        <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
        <label for="password" class="form-label">密碼</label>
        <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">登入</button>
        <div class="text-center mt-3">
        還沒有帳號？ <a href="{{ url_for('register') }}">註冊</a>
        </div>
    </form>
    </div>
{% endblock %}
